span {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.bg{
    background-color: #000000;
}
.text{
    color: #d5d5d5;
}


.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.bad {
    color: #eeeeee;
    background: #930000;
}
.bad::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 213px;
    opacity: 0.6;
    background-image: url('../resources/enemies/download.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;                           
}
.bad>h2{
    position: relative;
}
.good {
    color: #eeeeee;
    background:#008c28;
}
.good::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 213px;
    opacity: 0.6;
    background-image: url('../resources/allies/rock.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;                           
}
.good>h2{
    position: relative;
}
.log {
    color: yellow;
    background-color: #424242;
    padding: 18px;
    height: 100px;
    position: relative;
    z-index: 1;
    overflow-y: scroll;
}
.log::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #424242;
}

.log::-webkit-scrollbar
{
	width: 12px;
	background-color: #424242;
}

.log::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #c9c9c9;
}
.log>p{
    line-height: 4px;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 1.5em;
}
.foot {
    margin-left: 240px;
}
#progressbar1>.bar1{
    background-color: #26C754;
}
#progressbar2>.bar1{
    background-color: #26C754;
}
.logo{
    padding-left: 4px !important;
    padding-right: 8px;
}
.mdl-layout__drawer{
    background-color: #FFFFFF;
}
.battle-bg{
    
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url('../resources/bg/lake.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;          
}
.mdl-progress{
    height: 20px;
}
.demo-card-square.mdl-card{
    height: 340px;
}
.hpbartxt{
    font-size: 14px;
    z-index: 2;
    position: relative;
    /* right: 0px; */
    /* left: 0px; */
    /* top: 0px; */
    /* bottom: 0px; */
    justify-content: center;
    display: grid;
    place-items: center;
    margin: 0;
    color:#338833;
}
.maxhp{
    justify-content: center;
    place-items: center;
    display: grid;
}